@{
  Layout = "_Layout";
}

@model Recipe.Models.User

<h2>Add a Food</h2>

<h4>Add a Food Recipe to this User: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.UserId)

  @Html.Label("Select a Food Recipe")
  @Html.DropDownList("FoodId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to User list", "Index")</p>